@font-face {
    font-family: "SpecialElite";
    src: url("./fonts/SpecialElite-Regular.ttf");
}

#assetTabs {
    font-family: "SpecialElite";
    font-size: 100%;
    text-align:center;
    color: rgb(20, 20, 20);
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    top: 25%; /* Align the top edge of the div with the top of the screen */
    left: 0; /* Align the left edge of the div with the left of the screen */
    z-index: 10000;
    transform: rotate(90deg) translateY(-100%); /* Rotate and then move up by its own height */
    transform-origin: top left; /* Set the rotation origin to the top left corner */
}

.tabs {
    margin-right: 0.1rem;
    padding: 2%;
    background-image: linear-gradient(
        to bottom right,
        rgb(203, 198, 153),
        rgb(206, 195, 122),
        rgb(203, 172, 137)
    );
    box-shadow: inset 0px 0px 25px 5px rgba(59, 45, 35, 0.907),
        0px 0px 5px 5px rgba(25, 23, 22, 0.673);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 5rem;
    min-width: 5rem;
}

.selected {
    z-index: 10001;
    margin-right: -0.8rem;
    padding: 2%;
    background-image: linear-gradient(
        to bottom right,
        rgb(227, 223, 184),
        rgb(241, 228, 147),
        rgb(225, 200, 170)
    );
    box-shadow: inset 0px 0px 25px 5px rgba(59, 45, 35, 0.907),
        0px 0px 5px 5px rgba(25, 23, 22, 0.673);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 5rem;
    min-width: 5rem;
}

#deltaAssets {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(3, 113, 3);
}
