:root {
    --inv_background: #171e12;
    --inv_border: solid 2px var(--terminal_fg);
    --inv_glow: 0 0 25px 15px var(--terminal_fg);
    --inv_extendAnim: left 0.5s ease-in-out;
}

#invContainer {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#inventory {
    position: absolute;
    /* box-shadow: var(--inv_glow); */
    top: 0;
    width: 25vw;
    min-width: 135px;
    max-width: 720px;
    height: 100vh;
    padding: 0;
    padding-top: 2vh;
    border-right: var(--inv_border);
    margin: 0;
    background-image: url("/images/files_open.png");
    background-position: calc(100% + 15px) calc(50% - 15px);
    background-size: auto 1440px;
    text-align: center;
    transition: var(--inv_extendAnim);
}

#toggle {
    position: relative;
    top: 50vh;
    left: 100%;
    width: 25px;
    height: 5vh;
    min-height: 50px;
    padding: 0;
    border: var(--inv_border);
    border-left: none;
    margin: 0;
    background-color: var(--inv_background);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--inv_glow);
    clip-path: inset(-40px -40px -40px 0px);
    transition: var(--inv_extendAnim);
}

#toggle img {
    position: relative;
    width: 25px;
    height: 100%;
    margin: auto;
}

#invHeader img {
    width: 90%;
    margin-top: -3vh;
    transform: rotate(-5deg);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.8);
}
